:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #111213;
  /* Updated text color */
  background-color: #ffffff;
  /* Light grey background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
  /* Match the root */
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}